.pieceStyling {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  z-index: 1;
}

.figureToPromoteStyle {
  z-index: 1;
  border: darkslategray solid 4px;
  height: 90%;
  padding: 10%;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 2px;
}

.figureToPromoteStyle:hover {
  height: 110%;
  padding: 0%;
  border-radius: 0;
  background-color: orange;
}

.moveableStyle {
  border: none !important;
  outline: none !important;
}