.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container * {
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 23px;
    margin: 23px;
}

.existing-user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    transform: translateX(100px);
    
    border-radius: 40px 40px 0 0;
    z-index: 1;
    margin: 0px;
    border: 1px solid black;
    background: linear-gradient(60deg, tomato, purple);
    animation: fadeOut 2s forwards linear;
}

.existing-user-info > h2 {
    width: 75%;
    font-weight: bold;
    margin: 0px;
}

.response-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0px;
    transform: translateX(100px);
}

.response-box > button {
    width: 50%;
    padding: 15px;
    margin: 0px;
    border-radius: 44px 44px 0 0;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.5);
    /* Two different colors for each button */
}

.data-not-correct-communicate {
    width: 100%;
    margin: 0px;
    height: 46px;
    visibility: hidden;
}

.data-not-correct-communicate > h2 {
    color: darkred;
    font-size: 15px;
    margin: 0px;
    text-shadow: .4px .4px #600;
}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.5);
    margin: 0px !important;
}

@keyframes gradient {
    0% { 
        background-position: 0% 0%;
    }
    100% { 
        background-position: 300% 300%;
    }
}

div > form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    margin: 10px;
    padding: 1.5px;
}

.gradient {
    background: repeating-linear-gradient(90deg, white 10%, yellow 20%, rgb(69, 174, 172) 30%, blue 40%, black 50%, black 60%, blue 70%, rgb(69, 174, 172) 80%, yellow 90%, white 100%);
    background-size: 150% 150%;
}

.gradient-animation-finite {
    animation: gradient 2s linear forwards;
}

.gradient-animation-infinite {
    animation: gradient 2s linear infinite;
}

div > form > div > input {
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin: 0 !important;
    font-weight: 600;
}

.login-white-theme-input {
    background-color: aqua;
    color: black;
}

.login-white-theme-input::placeholder {
    color: rgb(70, 80, 80)
}

.login-black-theme-input {
    background-color: black;
    color: gold;
}

.login-black-theme-input::placeholder {
    color: wheat;
}

.sign-up-dark-theme,
.sign-up-bright-theme {
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    background-color: rgb(195, 140, 140) !important;
}

.sign-up-dark-theme {
    background-color: rgb(165, 90, 95) !important;
}

.sign-up-dark-theme::placeholder,
.sign-up-bright-theme::placeholder {
    color: rgb(90, 90, 90);
    font-weight: 100;
}

.form-class > button {
    background: linear-gradient(to left, #ABEE33, #99CC33) !important;
    border-radius: 18px;
    font-weight: 600;
    padding: 8px;
    margin: 10px;
    border: 2px solid black;
}

.form-class > button:hover {
    background: linear-gradient(to right, #99CC33, #89BB33) !important;
}

.sign-up-success {
    background-color: red;
    width: 50%;
    transform: translate(100px);
}

@keyframes fadeIn {
    from { opactiy: 0}
    to {opacity: 1}
}

@keyframes fadeOut {
    from { opacity: 1 }
    to {opacity: 0 }
}

.animate-class {
    animation: fadeOut 3s forwards;
}