.subCaptionStyle, .captionStyle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 22px;
  width: 100%;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFA500;
}

.subCaptionStyle {
  font-size: 15px;
  color: white;
  font-weight: 100;
}

.subCaptionStyle:hover {
  text-decoration: underline;
}

.label {
  font-family: Arial;
  color: gray;
}